@using k8s.Models
@model V1Ingress

<h1>Edit Ingress</h1>

<form asp-action="Edit" asp-route-name="@Model.Metadata.Name">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Metadata.Name" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label>Hosts</label>
        <input asp-for="Spec.Rules[0].Host" class="form-control" />
    </div>
    <div class="form-group">
        <label>Paths</label>
        <input asp-for="Spec.Rules[0].Http.Paths[0].Path" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>