@using k8s.Models
<!-- UpdatePod 视图 -->
@model V1Pod

<!-- 渲染 UpdatePod 表单 -->
<form class="layui-form" action="/Kubernetes/UpdatePod" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">名称:</label>
        <div class="layui-input-block">
            <input type="text" name="Name" value="@Model.Metadata.Name" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">命名空间:</label>
        <div class="layui-input-block">
            <input type="text" name="Namespace" value="@Model.Metadata.NamespaceProperty" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">镜像:</label>
        <div class="layui-input-block">
            <input type="text" name="Image" value="@Model.Spec.Containers.FirstOrDefault()?.Image" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">容器端口:</label>
        <div class="layui-input-block">
            <input type="text" name="ContainerPort" value="@Model.Spec.Containers.FirstOrDefault()?.Ports.FirstOrDefault()?.ContainerPort" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">更新</button>
        </div>
    </div>
</form>
<!-- UpdateService 视图 -->